body {
  margin: 0;
  font-family: Arial, Helvetica, Sans-serif;
  font-size: 16px;
  color: #333;
}

a:link{
  text-decoration: none;
}

ul {
  list-style: none;
}

nav ul {
margin: 0;
padding: 0;
list-style: none;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.container {
max-width: 1100px;
padding: 0 15px;
margin: 0 auto;
box-sizing: border-box;
}

.table {
display: table;
width: 100%;
height: 100%;
}

.table-cell {
display: table-cell;
width: 100%;
height: 100%;
text-align: center;
vertical-align: middle;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.no-banner {
  padding-top: 78px;
}