.header-top {
  width: 100%;
  height: 55px;
  padding: 15px 1px;
  padding-top: 3px;
  background: rgb(17, 14, 14);
  box-shadow: 0 6px 12px rgba(46, 17, 17, 0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-title {
  padding-top: 12px;
  margin: 0;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  float: left;
  font-size: 26px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.fenda {
    color: rgb(195, 197, 201);
    font-weight: 200;
}

.fenda span {
  font-weight: 450;
}

.header-menu {
  float: right;
}

.header-menu li {
  display: inline-block;
}

.header-menu a {
  display: inline-block;
  padding: 15px;
  color: rgb(195, 197, 201);
}