/*  INDEX  */


body {
  font-family: 'PT Sans', monospace, sans-serif;
  font-size: 20px;
}

ul {
  font-size: 20px;
  list-style-type: none;
}

li {
  display: inline;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  max-width: 980px;

  padding: 0 20px;
  /*margin: 0 auto*/
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.centered-container {
  width: 1126px;
height: 780px;
position: absolute;
top: 50%;
left: 50%;
margin-top: -390px;
margin-left: -563px;
}

.semBordas {
  border: none;
}

.fundo {
  position: absolute;
  top: auto;
  left: auto;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #FFEC37;

}

.somPokedex {
  position: absolute;
  top: 190px;
  left: 240px;
  height: 150px;
  width: 150px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  background-color: #dc0a2d;
  z-index: 2;
}

.somBolinhaPokedex1 {
  position: absolute;
  top: 255px;
  left: 260px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #000000;
  z-index: 3;
}

.somBolinhaPokedex2 {
  position: absolute;
  top: 255px;
  left: 320px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #000000;
  z-index: 3;
}

.somBolinhaPokedex3 {
  position: absolute;
  top: 285px;
  left: 290px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #000000;
  z-index: 3;
}

.somBolinhaPokedex4 {
  position: absolute;
  top: 230px;
  left: 290px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #000000;
  z-index: 3;
}

.telaPokedex {
  position: absolute;
  top: 120px;
  left: 350px;
  padding: 20px;
  display: block;
  border-top-right-radius: 65px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  height: 250px;
  width: 400px;
  z-index: 2;
  background: linear-gradient(150deg, rgba(226,20,54,1) 37%,rgba(196,0,13,1) 57%,rgba(216,17,47,1) 78%);
}


.blocoImagem {
  position: absolute;
  top: 170px;
  left: 400px;
  height: 170px;
  width: 350px;
  border-radius: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  z-index: 3;
  background: linear-gradient(150deg, rgba(239,239,239,1) 36%,rgba(178,178,178,1) 55%,rgba(239,239,239,1) 77%);
}

.blocoImagem2 {
  position: absolute;
  top: 155px;
  left: 440px;
  height: 195px;
  width: 250px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #0B0612;
  z-index: 4;
  background-color: #0B0612;
}

.blocoImagem3 {
  position: absolute;
  top: 165px;
  left: 450px;
  height: 170px;
  width: 230px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  z-index: 5;
  background-color: #fff;
}

.dobraDaBase {
  position: absolute;
  top: 411px;
  left: 350px;
  padding: 20px;
  display: block;
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  height: 0px;
  width: 400px;
  background-color: #FF4136;
  z-index: 1;
}

.blocoTelaBase {
  position: absolute;
  top: 450px;
  left: 390px;
  height: 190px;
  width: 330px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  z-index: 5;
  background-color: #fff;
}

.blocoPretoBase {
  position: absolute;
  top: 440px;
  left: 380px;
  height: 210px;
  width: 350px;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #0B0612;
  z-index: 4;
  background-color: #0B0612;
}

.blocoCinzaBaseEsquerda {
  position: absolute;
  top: 460px;
  left: 210px;
  height: 170px;
  width: 170px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  z-index: 3;
  background-color: #dddddd;
}

.blocoCinzaBaseDireita {
  position: absolute;
  top: 460px;
  left: 530px;
  height: 170px;
  width: 230px;
  border-radius: 15px;
  border-bottom-right-radius: 30px;
  border-width: 2px;
  border-style: solid;
  border-color: #000000;
  z-index: 3;
  background-color: #dddddd;
}

.contornoPretoEsquerdo {
  position: absolute;
  top: 415px;
  left: 150px;
  padding: 20px;
  display: block;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  height: 230px;
  width: 230px;
  background-color: #1A1A1A;
  z-index: 2;
}

.sorteDireitaBaseCirculo {
  position: absolute;
  top: 485px;
  left: 800px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  background-color: #8C968D;
  z-index: 3;
} 

.sorteDireitaBase {
  position: absolute;
  top: 470px;
  left: 790px;
  height: 150px;
  width: 150px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  background-color: #333;
  z-index: 2;
}

.baseTela {
  position: absolute;
  top: 415px;
  left: 350px;
  padding: 20px;
  display: block;
  border-top-right-radius: 10px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 65px;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  height: 230px;
  width: 400px;
  background: linear-gradient(150deg, rgba(226,20,54,1) 37%,rgba(196,0,13,1) 57%,rgba(216,17,47,1) 78%);
  z-index: 2;
}

.pesquisa input{
  position: absolute;
  top: 460px;
  left: 470px;
  padding: 5px;
  border-radius: 10px;
  border: none;
  outline-style: none;
  z-index: 10;
  color: white;
  background-color: #000000;
}

.pesquisaAleatoria{
  cursor: pointer;
  font-family: 'Anton';
  position: absolute;
  top: 497px;
  left: 812px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border-width: 3px;
  border-style: solid;
  border-color: #000000;
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5);
  outline-style: none;
  /* 008208 */
  background: linear-gradient(150deg, rgba(0,130,8,1) 32%,rgba(29,163,36,1) 48%);
  z-index: 10;
  transition: all 400ms ease;
}

.pesquisaAleatoria:active {
  background: linear-gradient(150deg, rgba(29,163,36,1) 32%, rgba(0,130,8,1) 48%);
}

/*.pesquisaAleatoria:hover {
  transition: all 2s ease;
  background: red;
}*/
