/*  INFORMAÇÕES  */

.font-size {
  font-weight: bold;
  font-size: 16px;
}

.nome {
  position: absolute;
  top: 140px;
  left: 510px;
  z-index: 10;
}


.thumb {
  position: absolute;
  top: 210px;
  left: 500px;
  height: 120px;
  width: 120px;
  z-index: 10;
}

.altura {
  position: absolute;
  top: 615px;
  left: 410px;
  z-index: 10
}

.peso {
  position: absolute;
  top: 615px;
  left: 600px;
  z-index: 10
}

.tipoEscrito {
  position: absolute;
  top: 500px;
  left: 410px;
  z-index: 10
}

.tipo {
  position: absolute;
  top: 484px;
  left: 410px;
  z-index: 10
}

.speed {
  position: absolute;
  top: 530px;
  left: 410px;
  z-index: 10
}

.special-defense {
  position: absolute;
  top: 560px;
  left: 410px;
  z-index: 10
}

.special-attack {
  position: absolute;
  top: 590px;
  left: 410px;
  z-index: 10
}

.defense {
  position: absolute;
  top: 530px;
  left: 600px;
  z-index: 10
}

.attack {
  position: absolute;
  top: 560px;
  left: 600px;
  z-index: 10
}

.hp {
  position: absolute;
  top: 590px;
  left: 600px;
  z-index: 10
}

.id {
  position: absolute;
  top: 500px;
  left: 600px;
  z-index: 10
}
