/*   BANNER   */

.banner {
  height: 100vh;
  color: #fff;
  position: relative;
  background-image: url("../img/bikini-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 900px;
  text-shadow: 0 0 30px  rgba(0, 0, 0, 0.3);
}

.banner:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  opacity: 0.6;
  background: -moz-linear-gradient(45deg, #28afb0 0%, #7db9e8 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #28afb0 0%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #28afb0 0%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.banner .table {
  position: relative;
  z-index: 2;
}

.banner-title {
  position: relative;
  top: -130px;
  margin-bottom: 20px;
  font-size: 84px;
}

@media (max-width: 600px) {
  .banner .table-cell {
    padding-left: 15px;
    padding-right: 15px;
  }

  .banner-title {
    font-size: 60px;
  }

  .banner br{
    display: none;
  }

}

@media (max-width: 400px) {
  .banner-title {
    top: -30px;
  }
}
