/*  BLOCOS  */

.content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bloco {
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}

.bloco-half {
  background-color: #fff;
  padding: 12px;
  margin: 20px;
  width: 40%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  border-radius: 15px 30px;
}

.bloco-principal {
  text-align: center;
  width: 100%
}

.bloco-principal h3 {
  font-size: 30px;
}


.bloco-principal p{
  padding-left: 35%;
  width: 300px;
  font: italic 30px "Fira Sans", serif;
}

@media (max-width: 900px) {
  .bloco-principal p {
    padding-left: 30%
  }
}

@media (max-width: 650px) {

  .bloco {
    padding: 0;
  }

  .bloco-half {
    width: 100%;
  }

  .bloco h3,
  .bloco p {
    text-align: center;
  }

  .bloco-principal p {
    padding-left: 20%
  }

}
