/*   HEADER   */

.header-top {
  width: 97%;
  padding: 15px 0;
  margin: 30px;
  background: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-title {
  padding-top: 12px;
  margin: 0;
  font-size: 26px;
  line-height: 26px;
  text-transform: uppercase;
  float: left;
}

.header-menu {
  float: right;
}

.header-menu li {
  display: inline-block;
}

.header-menu a {
  display: inline-block;
  padding: 15px;
  color: #0678a9;
}

@media (max-width: 1150px) {
  .header-top {
    width: 95%;
  }
}

@media (max-width: 760px) {

  .header-top {
    width: 92%;
  }

  .header-title{
    float: none;
    text-align: center;
  }

  .header-menu {
    margin: 15px -15px 0;
    text-align: center;
    float: none;
  }

  .header-menu li{
    width: 20%;
    text-align: center;
    float: none;
  }

  .header-menu a{
    padding: 10px;
    font-size: 12px;
  }

  @media (max-width: 400px) {
    .header-top {
      width: 85%;
    }

  }

/*  .header-menu li:nth-child(1),
  .header-menu li:nth-child(2),
  .header-menu li:nth-child(3) {
    width: 33.333%;
  }

  .header-menu li:nth-child(4),
  .header-menu li:nth-child(5) {
    width: 50%;
  } */



}
