/*   RESTAURANTE   */

.no-banner {
  padding-top: 50px;
}

img {
  height: 300px;
  width: auto;
  border-radius: 30px;
}

body {
  background-color: #fff;
}

.restaurante article{
  background-color: #F1D334;
  padding: 30px;
  padding-bottom: 320px;
  margin-bottom: 15px;
  border-radius: 15px 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.restaurante-lista div {
  width: 40%;
  float: right;
  padding: 10px;
}

.restaurante-lista img {
  float: left;
}

.restaurante-lista h3,
.restaurante-lista p{
  text-align: right;
}

.segunda-linha div {
  width: 40%;
  float: left;
  padding: 10px;
}

.segunda-linha img{
  float: right;
}

@media (max-width: 890px) {

  img {
    height: 300px;
    width: auto;
    border-radius: 30px;
  }


  .restaurante article{
    padding: 30px;
    padding-bottom: 0;
    margin-bottom: 15px;
    border-radius: 15px 30px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }

  .restaurante-lista div {
    width: 100%;
    float: none;
  }

  .restaurante-lista img {
    float: none;
  }

  .restaurante-lista h3,
  .restaurante-lista p{
    text-align: left;
  }

  .segunda-linha div {
    width: 100%;
    float: none;
    padding: 10px;
  }

  .segunda-linha img{
    float: none;
  }

}

@media (max-width: 530px) {
  img {
    height: 200px;
  }
}
