/*  BLOCOS  */

.content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.bloco {
  padding: 0 15px;
  float: left;
  box-sizing: border-box;
}

.bloco-half {
  width: 50%;
}

@media (max-width: 600px) {

  .bloco {
    padding: 0;
  }

  .bloco-half {
    width: 100%;
  }

  .bloco h3,
  .bloco p {
    text-align: center;
  }

}
