/*   CONTATO   */

input,
textarea {
    width: 450px;
    padding: 8px;
    border: 2px;
    border-style: solid;
    border-color: #aaa;
    border-radius: 5px;
    box-sizing: border-box;
}

textarea {
  min-height: 200px;
  max-height: 200px;
  min-width: 450px;
  width: 450px;
}

.button {
    padding: 0;
    font-size: 15px;
}

.button-white {
  width: 100px;
  height: 50px;
  float: right;
}

input:focus,
textarea:focus {
  border-color: #0678a9;
}

.contato h2 {
  position: relative;
  top: 0;
  left: 20px;
}

.contato div {
  padding-top: 0px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 0;

}

.contato label {
  font-size: 17px;
  font-weight: bold;
}

.contato article {
  width: 35%;
  padding: 15px;
  margin: 15px;
  float: left;
  border-radius: 15px 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.contato form {
  max-height: 600px;
  max-width: 500px;
  min-width: 500px;
  padding: 15px 30px 30px 10px;
  border-radius: 15px 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

@media (max-width: 600px) {

  .contato article {
    width: 95%;
    padding: 0;
  }

  

}
