/*   HISTORIA   */

.no-banner {
  padding-top: 50px;
}

.historia-lista h3,
.historia-lista p {
  padding-left: 15%;
}

.historia article{
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
}

.historia-lista img{
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  margin: 15px;
  float: left;

}

.segunda-linha {
  text-align: right;
}

.segunda-linha h3,
.segunda-linha p {
  padding-right: 15%;
}

.segunda-linha img{
  position: relative;
  top: 0;
  right: 0;
  width: 100px;
  margin: 15px;
  float: right;
}
