/*   SERVICOS   */

.no-banner {
  padding-top: 90px;
}

.service-item {
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 15px 30px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}

.service-item img {
  width: 140px;
  margin: 0 15px 15px 0;
  float: left;
}

.service-item h3 {
  font-size: 22px;
}
